{% extends 'base.html' %}
{% load static %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Logowanie</h2>
            <p>Wprowadź swoje dane, aby uzyskać dostęp do rezerwacji.</p>
        </header>

        <div class="row gtr-150">
            <div class="col-8 col-12-medium">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="primary">Zaloguj się</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}