{% extends 'account_base.html' %}
{% load static %}

{% block account_content %}
    <header class="major">
        <h2>Panel Twoich Rezerwacji</h2>
        <p>Tutaj znajdziesz swoje nadchodzące oraz archiwalne rezerwacje.</p>
    </header>

    {% if not upcoming_reservations and not past_reservations %}
        <p>Nie masz jeszcze żadnych rezerwacji. <a href="{% url 'sauna_list' %}">Znajdź idealną saunę dla siebie!</a></p>
    {% else %}
        <section>
            <h3>Nadchodzące rezerwacje</h3>
            {% for reservation in upcoming_reservations %}
                <div class="box">
                    <h4><strong>Sauna:</strong> {{ reservation.sauna.name }}</h4>
                    <p>
                        <strong>Od:</strong> {{ reservation.start_time|date:"d.m.Y, H:i" }}<br>
                        <strong>Do:</strong> {{ reservation.end_time|date:"d.m.Y, H:i" }}<br>
                        <strong>Cena:</strong> {{ reservation.total_price }} zł<br>
                        <strong>Status:</strong> <span class="badge status-{{ reservation.status }}">{{ reservation.get_status_display }}</span>
                    </p>
                </div>
            {% empty %}
                <p>Brak nadchodzących rezerwacji.</p>
            {% endfor %}
        </section>

        <hr />

        <section>
            <h3>Przeszłe rezerwacje</h3>
            {% for reservation in past_reservations %}
                <div class="box">
                    <h4><strong>Sauna:</strong> {{ reservation.sauna.name }}</h4>
                    <p>
                        <strong>Od:</strong> {{ reservation.start_time|date:"d.m.Y, H:i" }}<br>
                        <strong>Do:</strong> {{ reservation.end_time|date:"d.m.Y, H:i" }}<br>
                        <strong>Status:</strong> {{ reservation.get_status_display }}
                    </p>
                </div>
            {% empty %}
                <p>Brak przeszłych rezerwacji.</p>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}