{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}Sauna Rezerwacje{% endblock %}</title> {# Tytuł z logiką Django #}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" /> {# Linki do CSS z Landed #}
		<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" /> <noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<header id="header">
				<nav id="nav">
					<ul>
						<li><a href="{% url 'home' %}#events">Wydarzenia</a></li>

						{% if user.is_authenticated %}
							<li><a href="{% url 'my_reservations' %}">Moje Rezerwacje</a></li>
							<li>
								<form action="{% url 'logout' %}" method="post" style="display:inline;">
									{% csrf_token %}
									<button type="submit" class="button primary">Wyloguj ({{ user.username }})</button>
								</form>
							</li>
						{% else %}
							<li><a href="{% url 'login' %}">Zaloguj</a></li>
							<li><a href="{% url 'signup' %}" class="button primary">Zarejestruj się</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			{% block content %}{% endblock %}

			<footer id="footer">
                <ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					</ul>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: Paweł Sasin </li>
				</ul>
			</footer>

		</div>

		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'assets/js/browser.min.js' %}"></script>
        <script src="{% static 'assets/js/breakpoints.min.js' %}"></script> <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script> ```

	</body>
</html>